<!DOCTYPE html>
<html class="active-analytics">
<head>
  <title>Active Hashcash</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= tag.link rel: "stylesheet", href: asset_path(:ariato, format: :css) %>
  <%= tag.link rel: "stylesheet", href: asset_path(:application, format: :css) %>
</head>
<body>
  <header>
    <nav aria-label="site">
      <ul role="menu" aria-label="Elements">
        <li role="none"><%= link_to ActiveHashcash::Stamp.model_name.human.pluralize, stamps_path %></li>
        <li role="none"><%= link_to ActiveHashcash::Stamp.human_attribute_name(:ip_address).pluralize, addresses_path %></li>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    Made by <a href="https://www.rorvswild.com">RorVsWild</a> |
    <a href="https://github.com/BaseSecrete/active_hashcash">Source code</a>
  </footer>
</body>
</html>
