<%= form_tag nil, method: :get do %>
  <div class="grid-auto">
    <div role="group">
      <%= label_tag :created_from do %>
        <%= ActiveHashcash::Stamp::human_attribute_name(:created_at) + " ≥" %>
        <%= date_field_tag :created_from, params[:created_from] %>
      <% end %>

      <%= label_tag :created_from do %>
        <%= ActiveHashcash::Stamp::human_attribute_name(:created_at) + " ≤" %>
        <%= date_field_tag :created_to, params[:created_to] %>
      <% end %>
    </div>

    <div role="group">
      <%= label_tag :bits_from do %>
        <%= ActiveHashcash::Stamp::human_attribute_name(:bits) + " ≥" %>
        <%= number_field_tag :bits_from, params[:bits_from] %>
      <% end %>

      <%= label_tag :bits_to do %>
        <%= ActiveHashcash::Stamp::human_attribute_name(:bits) + " ≤" %>
        <%= number_field_tag :bits_to, params[:bits_to] %>
      <% end %>
    </div>

    <div>
      <%= label_tag :ip_address_starts_with, ActiveHashcash::Stamp::human_attribute_name(:ip_address) %>
      <%= text_field_tag :ip_address_starts_with, params[:ip_address_starts_with] %>
    </div>

    <div>
      <%= label_tag :request_path_starts_with, ActiveHashcash::Stamp::human_attribute_name(:request_path) %>
      <%= text_field_tag :request_path_starts_with, params[:request_path_starts_with] %>
    </div>

    <%= submit_tag t("active_hashcash.submit_filter") %>
  </div>
<% end %>
