<details>
  <summary>Filters</summary>
  <%= render "filters" %>
</details>

<table>
  <thead>
    <tr>
      <th><%= ActiveHashcash::Stamp.human_attribute_name(:created_at) %></th>
      <th><%= ActiveHashcash::Stamp.human_attribute_name(:ip_address) %></th>
      <th><%= ActiveHashcash::Stamp.human_attribute_name(:request_path) %></th>
      <th><%= ActiveHashcash::Stamp.human_attribute_name(:bits) %></th>
    </tr>
  </thead>
  <tbody>
    <% for stamp in @stamps %>
      <tr>
        <td><%= link_to stamp.created_at, stamp %></td>
        <td><%= stamp.ip_address %></td>
        <td><%= stamp.request_path %></td>
        <td><%= stamp.bits %></td>
      </tr>
    <% end %>
  </tbody>
</table>
